@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2);
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2);
    font-display: swap;
}
body {
    margin: 0;
    font-family: "PT Sans";
    font-size: 18px; 
    line-height: 21px;
    color: #333333;
    background: #FFFFFF;   
}
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 700px;
    padding-left: 10px;
    justify-content: flex-start;
}
.navigation-list1 {
    margin: 0;
    padding: 0;
    display: flex;
    width: 891px;
    padding-right: 10px;
    margin-left: auto;
    justify-content: flex-end;
}
.vector_image3 {
    display: flex;
    margin: 0;
    padding: 0;
    width: 140px;
    justify-content: center;
}
.page-contayner {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.main-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
  }
.main-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
  }
.visually-hidden {
    display: none; 
  }
.main-inner1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
.dignities {
    display: flex;
    margin: 0 auto;
    padding: 0; 
    width: 1200px; 
}
.page-header {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-link {
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    background: #FFFFFF; 
}
.button-link {
    width: 160px;
    height: 37px;
    color: #FFFFFF;
    background-color: #756257;
    } 
.strong {
    width: 720px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    margin: 0 auto;
    padding: 0;
}
.dignities-item {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}
.reasons {
    font-size: 22px;
    line-height: 36px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; 
}
.dignities {
    display: flex;
    width: 400px;
    margin: 0;
    padding: 0; 
    justify-content: space-between;
}
.categories__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; 
} 
.dignities-item1 {
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
}
.dignities-item1 {
    color: #FFFFFF;
    background: #83B3D3;
}
.dignities-item2 {
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
}
.inner-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
}
.dignities-title {
    display: flex;
    font-size: 24px;
    line-height: 28px; 
}
.dignities-item2 {
    color: #FFFFFF;
    background: #83B3D3;
}
.point_out {
    display: flex;
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    height: 37px;
    justify-content: center;
}
.button-link1 {
    display: flex;
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    height: 60px;
    color: #FFFFFF;
    background-color: #756257;
    justify-content: center;
} 
.right{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.search_for_hotels-title {
    display: flex;
    font-size: 30px;
    line-height: 36px;
    justify-content: center;
}
.page-footer-title {
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    background-image: url(../img/background.jpg);
}
.start,
.rating {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: end;
}
.hotels-card_img {
    display: block;
    margin-right: 0;
    padding: 0;
    justify-content: space-between;
}
.search_for_hotels {
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
}
.wythe {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-image: url(../img/background.jpg);
    width: 720px;
    height: 72px;
}
.button-link2 {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    height: 60px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #83B3D3;
}
.e-mail {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    background-color: #F2F2F2;
}
.contacts-phone {
    font-size: 40px;
    line-height: 40px;
}
.contacts-phone {
    display: flex;
    width: 720px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: #F2F2F2;
    font-style: normal;
    font-weight: normal;   
    justify-content: center;
}
.htmlacademy-link {
    display: flex;
    background-image: url(../img/logo_htmlacademy.svg);
    width: 1200px;
    height: 120px;
    justify-content: center;
    margin-top: auto;
}
.inner-header,
.catalog-products {
    color: #FFFFFF;
}
.apply {
    color: #FFFFFF;
    background-color: #83B3D3; 
}
.reset {
    font-size: 18px;
    line-height: 23px;
    width: 160px;
    height: 23px;
    color: #FFFFFF;
    background-image: url(../img/catalog-background1.jpg);
}
.hotels-found {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 39px;
    width: 337px;
    height: 39px;
}
.pagination {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.hotels-card-type {
    font-size: 18px;
    line-height: 23px;
    width: 57px;
    height: 23px;
}
.hotels-card-title {
    font-size: 24px;
    line-height: 31px;
    width: 208px;
    height: 31px;
}
.page-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center
}
.catalog-filted-title {
    font-size: 20px;
    line-height: 26px;
}
.rating {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}
.button_more_detailed {
    color: #FFFFFF;
    background-color: #756257;
    width: 151px;
    height: 18px; 
}
.button_favourites_green {
    color: #FFFFFF;
    background-color: #7DB54F;
}
.button_favourites {
    color: #FFFFFF;
    background-color: #83B3D3;
}
.page-footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.group {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    padding: 0;
}
.plagination-item {
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
    padding: 0;
}
.blue {
    display: flex;
    margin-right: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    justify-content: center;
}
.vector_image {
    background-image: url(../img/catalog-background1.jpg);
    width: 1200px;
    height: 410px;
}
.background {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    height: 410px;
}
.footer-social-list {
    display: flex;
    width: 1200px;
    margin: 0;
}
.footer-social-item{
    display: flex;
    width: 700px;
    padding-left: 10px;
    justify-content: flex-start;
}
.vector_image1 {
    background-image: url(../img/index-background.jpg);
    width: 1200px;
    height: 485px;
    display: flex;
    margin: 0;
    padding: 0; 
    justify-content: center;
}
.vector_image3 {
    background-image: url(../img/sedona.svg);
    width: 140px;
    height: 70px;
}
.vector_image11 {
    background-image: url(../img/welcome.svg);
    width: 450px;
    height: 350px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.vector_image111 {
    background-image: url(../img/divider.svg);
    width: 460px;
    height: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.search {
    background-image: url(../img/search.svg);
    width: 18px;
    height: 18px;
}
.heart {
    background-image: url(../img/heart.svg);
    width: 18px;
    height: 18px;
}
.twitter {
    background-image: url(../img/twitter.svg);
    width: 18px;
    height: 15px;
}
.facebook {
    background-image: url(../img/facebook.svg);
    width: 10px;
    height: 18px;
}
.youtube {
    background-image: url(../img/youtube.svg);
    width: 20px;
    height: 16px;
}
.home {
    background-image: url(../img/home1.svg);
    width: 12px;
    height: 12px;
}
.group3 {
    background-image: url(../img/Group3.svg);
    width: 50px;
    height: 50px;
}
.group2 {
    background-image: url(../img/Group2.svg);
    width: 50px;
    height: 50px;
}
.group1 {
    background-image: url(../img/Group1.svg);
    width: 50px;
    height: 50px;
}
