@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2);
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
    font-size: 18px; 
    line-height: 21px;
    align-content: space-around;
    box-shadow:  #E5E5E5;
    background-color: white;
    color: white;
}

html {
    height: 100%;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
}

.dignities-items {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.icon {
    padding-top: 79px;
}

.dignities {
    text-align: center;
}

.footer-social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 74px;
}

.navigation-item {
    padding-left: 35px;
    padding-right: 33px;
}

.footer-social-list {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    margin-left: 21px;
}
.footer-social-list1 {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    margin-right:73px;
}
.navigation-list {
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-left: 70px;
    padding-bottom: 20px;
    display: flex;
    max-width: 415px;
    list-style-type: none;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.navigation-list1 {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 64px;
    margin-top: 3px;
}

.vector_image3 {
    background-image: url(../img/sedona.svg);
    background-repeat: no-repeat;
    height: 70px;
    width: 138px;
    margin-top: 10px;
    margin-right: 56px;
}

.page-footer {
    flex: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

.text1 {
    margin-top: 1px;
    margin-bottom: 41px;
}

.main-container {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.popularity {
    margin-left: auto;
}

.hotels-card-price {
    margin: 0px;
    margin-left: 80px;
}

.hotels-card_img {
    list-style-type: none;
    margin: 0;
    width: 1000px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    background: #FFFFFF;
    text-decoration: none; 
}

.active {
    text-decoration: underline; 
}

.button-link {
    display: inline-block;
    border: none;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    cursor: pointer; 
} 

.subscribe {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    align-items: center;
    margin-bottom: 30px;
}

.strong {
    width: 720px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 3px;
}

.navigation-link:hover,
.navigation-icon:hover {
    color: #756257;
    background-color: #FFFFFF;
}

.button-link2:hover {
    color: #FFFFFF;
    background-color:  #68A2CA;
}

.button-link:hover,
.button-link1:hover {
    color: #FFFFFF;
    background-color: #615048;
}

.contacts-phone:hover,
.academy:hover {
    color: #756257;;
    background-color: #FFFFFF;
}

.e-mail:hover {
    background: #E6E6E6;
    color: #000000;
    border-radius: 0px 10px 10px 0px;
}

.button-link2:active {
    color: #FFFFFF;
    background-color: #68A2CA;
    opacity: 0.3;
}

.button:active {
    opacity: 0.3;
}

.navigation-link:active,
.navigation-icon:active {
    color: #756257;
    background-color: #FFFFFF;
    opacity: 0.3;
}

.contacts-phone:active,
.academy:active {
    color: #756257;
    opacity: 0.3;
}

.button-link:active,
.button-link1:active {
    color: #FFFFFF;
    background-color: #615048;
    opacity: 0.3;
}

.e-mail:active {
    color: #000000;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
}

.button-link2:focus {
    border: 3px solid #756257;
    border-radius: 0px 10px 10px 0px;
    color: #FFFFFF;
    background-color: #68A2CA;
}

.e-mail:focus {
    border: 3px solid #83B3D3;
    border-radius: 0px 10px 10px 0px;
    background: #E6E6E6;
    color: #000000;
}

.button:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.contacts-phone:focus,
.academy:focus  {
    color:  #756257;
    background-color: #FFFFFF;
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.navigation-link:focus,
.navigation-icon:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
    color: #756257;
    background-color: white;
}
 
.button-link:focus,
.button-link1:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
    color: white;
    background-color: #615048;
}

.item {
    width: 400px;
    padding-bottom: 80px;
}

.reasons {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 80px;
}

.inner-header-title { 
    margin-left: 70px;
}

.inner-header {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.dignities-title {
    padding-top: 69px;
    font-size: 24px;
    line-height: 28px; 
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.point_out {
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    margin-bottom: 59px;
    margin-right: 14px;
}

.button-link1 {
    display: inline-block;
    border: none;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756257;
    padding: 12px 148px;
    text-decoration: none; 
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 43px;
} 

.search1 {
    margin-bottom: 50px;
}

.search_for_hotels-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    margin-top: 82px;
    margin-bottom: 8px;
}

.page-footer-title {
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    background-image: url(../img/background.jpg);
    margin-top: 92px;
    text-transform: uppercase;
}

.search_for_hotels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    margin-top: 4px;
}

.button {
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 31px;
    padding-right: 42px;
    cursor: pointer;
}

.button4 {
    border-radius: 15px;
    font-size: 10px;
    color: #FFFFFF;
    background-color:#7DB54F;
    margin: 0;
    padding: 0;
    text-decoration: none; 
    padding: 3px;
}

.amara {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.grid {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, 385px);
}

.g1 {
    color: #FFFFFF;
    background: #83B3D3;
    padding-top: 72px;
    padding-left: 75px;
    padding-right: 75px;
    width: 400px;
}

.g2 {
    grid-column: 1 / -1;
    display: flex;
}

.g3 {
    color: #333333;
    background: rgba(131, 179, 211, 0.12);
    padding-left: 75px;
    padding-right: 75px;
}

.g4 {
    padding-left: 75px;
    padding-right: 75px;
}

.g5 {
    color: #333333;
    background: rgba(131, 179, 211, 0.12);
    padding-left: 75px;
    padding-right: 75px;
}

.g6 {
    grid-column: 1 / -1;
    display: flex;
}

.g7 {
    color: #FFFFFF;
    background: #83B3D3;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 71px;
    width: 400px;
}

.g8 {
    color: #333333;
    background: rgba(131, 179, 211, 0.12);
    padding-left: 75px;
    padding-right: 75px;
}

.g9 {
    color: #333333;
    background: rgba(131, 179, 211, 0.2);
    padding-left: 75px;
    padding-right: 75px;
}

.g10 {
    color: #333333;
    background: rgba(131, 179, 211, 0.12);
    padding-left: 75px;
    padding-right: 75px;
}

.dignities-title1 {
    font-size: 24px;
    line-height: 28px; 
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.button3 {
    margin: 0;
    padding: 17px;
    cursor: pointer;
}

.wythe {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-image: url(../img/background.jpg);
}

.button-link2 {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    padding-top: 21px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    margin-right: 15px;
}

.inner-header-list {
    display: flex;
    list-style-type: none;
}

.hotels-card-button {
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
}

.hotels-card-button1 {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 625px;
    margin-left: 200px;
}

.found {
    display: flex;
    margin-top: 50px;
    margin-bottom: 45px;
}

.option {
    display: flex;
}

.e-mail {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    padding-left: 33px;
    width: 563px;
    height: 60px;
}

.contacts-phone {
    text-transform: uppercase;
    color: #000000;
    background-color: #F2F2F2;
    font-style: normal;
    font-weight: normal; 
    font-size: 40px;
    line-height: 40px;  
    margin: auto;
    text-decoration: none; 
    margin-left: 117px;
}

.academy {
    background-image: url(../img/logo_htmlacademy.svg);
    height: 35px;
    width: 115px;
    cursor: pointer;
    background-repeat: no-repeat;
    display: block;
}

.inner-header,
.catalog-products {
    color: #FFFFFF;
}

.apply {
    color: #FFFFFF;
    background-color: #83B3D3; 
}

.reset {
    color: #FFFFFF;
    background-image: url(../img/catalog-background1.jpg);
}

.hotels-found {
    font-size: 30px;
    margin: 0;
    margin-left: 70px;
    margin-right: 190px;
}

.hotels-card {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.select-control {
    margin-right: 60px;
}

.hotels-card-displayed {
    height: 25px;
}

.button1 {
    width: 30px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
}

.hotels-card-title {
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}

.catalog-filted-title {
    font-size: 20px;
    line-height: 26px;
}

.stars {
    margin: 0;
    height: 20px;
}

.rating {
    margin: 0;
    margin-top: 35px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}

.button_more_detailed {
    color: #FFFFFF;
    background-color: #756257; 
}

.button_favourites_green {
    color: #FFFFFF;
    background-color: #7DB54F;
}

.button_favourites {
    color: #FFFFFF;
    background-color: #83B3D3;
}

.group {
    display: flex;
    margin: 0;
    list-style-type: none;
    margin-left: 80px;
}

.blue {
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.vector_image {
    background-image: url(../img/catalog-background1.jpg);
}

.background {
    background-image: url(../img/background.jpg);
    text-align: center;
    display: contents;
}

.vector_image1 {
    background-image: url(../img/index-background.jpg);
    display: flex;
    justify-content: center;
    height: 480px;
}

.vector_image11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    background-image: url(../img/welcome111.svg);
    background-repeat: no-repeat;
    width: 450px;
    margin: 0;
    padding: 0;
    margin-top: 48px;
    padding-right: 8px;
}

.navigation-link1 {
    font-size: 16px;
    line-height: 21px;
}

.vector_image111 {
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 57px;
}

.navigation-icon {
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-icons {
    position: relative;
    display: block;
    margin: 0;
    right: 24px;
    bottom: 11px;
    text-decoration: none;
}

.navigation-way {
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    text-align: center;
    background-color: #FFFFFF;
    color: #83B3D3;;
}

.heart {
    padding-left: 20px;
    padding-right: 19px;
}

.home {
    background-image: url(../img/home1.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}

.group3 {
    background-image: url(../img/Group3.svg);
    width: 100px;
    height: 100px;
}

.group2 {
    background-image: url(../img/Group2.svg);
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.group1 {
    background-image: url(../img/Group1.svg);
    width: 100px;
    height: 100px;
}
